.card-header.form-search {
  .card-form-search{
    float: left;
  }
}

.content {
  min-height: 74vh;
}

#gridViewTypeProduct {
  .td-center {
    text-align: center;

    a.badge {
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
